    .banner{
        width: 100%;
        height: 100vh;
        background: url("../../assets/bi.jpg") no-repeat center/cover;
        padding: 5%;
    }
    .text__banner{
        margin-top: 22%;
        font-size: 30px;
    }
    .btn{
        padding: .8% 2%;
        background: black;
        color: #fff;
        border-radius: 25px;
        border: 1px solid #000;
    }
    .btn:hover{
        cursor: pointer;
    }


/* MEDIA */
@media screen and (max-width: 1512px) {
    .text__banner{
        font-size: 30px;
        position: absolute;
        bottom: 0;
    }
    .btn{
        padding: 3% 6%;
    }
}

@media screen and (max-width: 600px) {
    .text__banner{
        font-size: 20px;
    }

}
@media screen and (max-width: 500px) {
    .text__banner{
        font-size: 20px;
        bottom: 0;
    }
}

/* MEDIA */

